@import 'variables';
@import 'fonts/bebasneue';
@import 'fonts/gilroy';
@import 'fonts/anticva';
//@import 'variables';
@import 'general';

@import 'components/menu';
@import 'components/social';
@import 'components/contacts';

@import 'components/header';
@import 'components/footer';
@import 'components/main';
 @import 'components/burger-menu';

@import 'components/hero';

@import 'components/button-go-up';

@import 'components/about-project';

@import 'components/choose';

@import 'components/infrastructure';
@import 'components/infra';

@import 'components/layouts';

@import 'components/consultation';

@import 'components/btn';

@import 'components/modal';
// @import 'components/services-page';

// @import 'components/service-page';

// @import 'components/stickybox';

// @import 'components/about';
// @import 'components/about-page';

// @import 'components/contacts-page';

// @import 'components/customers';
// @import 'components/customers-page';
