.btn {
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  border: none;
  border-radius: 18px;
  padding: 0 20px 0 28px;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  //background: linear-gradient(319deg, $color-granat-title 0%, $color-granat-subtitle 100%);
  background: linear-gradient(319deg, rgba(144, 33, 48, 1) 0%, #2d050a 100%);
  position: relative;
  transition: 0.3s all linear;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  font-style: normal;

  @media #{$notebook} {
    padding: 0 15px;
  }

  @media #{$laptop} {
    padding: 0 15px 0 25px;
  }

  &:hover {
    background: linear-gradient(62deg, rgba(144, 33, 48, 1) 0%, #2d050a 100%);
    transition: 0.3s linear;
  }

  &:active {
    color: $color-granat-subtitle;
    //background: linear-gradient(62deg, #285681 0%, #0f3354 100%);
    background: linear-gradient(62deg, rgba(144, 33, 48, 1) 0%, #2d050a 100%);
    box-shadow: 0 4px 25px 0 rgba(14, 50, 84, 0.44);
  }
}
