.contact {
  .contact__tel {
    display: block;
    color: $color-granat-contact;
    font-family: $font-family-base;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;

    @media #{$notebook} {
      font-size: 22px;
    }

    @media #{$notebook_s} {
      font-size: 18px;
    }

    strong {
      color: $color-granat-contact;
      font-family: $font-family-base;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media #{$notebook} {
        font-size: 22px;
      }

      @media #{$notebook_s} {
        font-size: 18px;
      }
    }
  }

  .contact__order-call {
    display: block;
    color: $color-granat-contact;
    font-family: $font-family-title;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -6px;

    @media #{$notebook_s} {
      font-size: 11px;
    }
  }
}

.contact__tel_mob {
  svg {
    color: #e2e2e2;
  }
}

.contact__tel_mob:hover {
  svg {
    color: $color-granat-subtitle;
    transition: color 0.3s ease-in;
  }
}
