.logo {
  display: flex;
  margin-right: 70px;
  align-items: center;

  @media #{$notebook_s} {
    margin-right: 15px;
    align-items: center;
  }

  @media #{$phone} {
    margin-right: 0;
    margin-left: 0;
    align-items: center;
  }

  &__img {
    width: 50px;
    height: 50px;
    //margin-right: 10px;

    @media #{$phone} {
      width: 55px;
      height: 55px;
    }

    img {
      //width: 100%;
      height: 100%; 
      object-fit: cover;
    }
  }

  &__header_title {
    .title {
      padding: 0;
      margin: 0;
      display: block;
      color: $color-granat-title;
      font-family: $font-family-base;
      text-transform: uppercase;
      font-size: 33px;
      font-style: normal;
      font-weight: 400;
      line-height: 0.9;

      @media #{$notebook_s} {
        //font-size: 20px;
      }

      @media #{$tablet} {
        font-size: 33px;
      }
    }

    .subtitle {
      padding: 0;
      margin: 0;
      display: block;
      color: $color-granat-subtitle;
      font-family: $font-family-title;
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      margin-top: -5px;

      @media #{$notebook_s} {
        font-size: 9px;
      }

      @media #{$tablet} {
        font-size: 11px;
      }
    }
  }
}

.header {
  //width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;


  &__container {
    align-items: center;
    padding: 26px;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 34px;
    //background: rgba(5, 12, 19, 0.2);
    background: rgba(0, 0, 0, 0.15);
    -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);

    @media #{$laptop_s} {
      margin-top: 15px;
      //padding: 10px 22px 10px 12px;
      padding: 0 27px 6px 17px;
      border-radius: 25px;
      background: rgba(14, 2, 3, 0.30);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }

    .header__nav {
      margin-right: 99px;

      @media #{$desktop} {
        margin-right: 60px;
      }

      @media #{$notebook_s} {
        margin-right: 25px;
      }

      @media #{$tablet} {
        display: none;
      }
    }

    .header__social {
      margin-right: 63px;

      @media #{$desktop} {
        margin-right: 40px;
      }

      @media #{$notebook_s} {
        margin-right: 15px;
      }

      @media #{$tablet} {
        display: none;
      }

      .social__item {

        .social__link {
          svg {
           color: $color-granat-contact;
            // opacity: 0.6;
          }
        }
      }
    }

    .header__contact {
      text-align: end;

      @media #{$tablet} {
        display: none;
      }
    }

    .header__contact_mob {
      display: none;

      @media #{$tablet} {
        display: flex;
      }

      .contact__tel_mob {

        svg {
          vertical-align: bottom;
        }
      }

    }

    .header__burger {
      width: 25px;
      height: 14px;
      display: none;
      cursor: pointer;

      @media #{$tablet} {
        display: flex;
      }

      .header__burger_open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 4px;

        .burger__line {
          height: 2px;
          width: 100%;
          background-color: #E2E2E2;
          margin: 0;
          padding: 0;
        }

        .short-line {
          width: 75%;
        }
      }
    }
  }

  //.header__container::before {
  //  position: absolute;
  //  content: '';
  //  z-index: -1;
  //  //display: block;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  //background: rgba(5, 12, 19, 0.6);
  //  //background: rgba(12, 17, 19, 0.9);
  //  //height: 346px;
  //  pointer-events: none;
  //  border-radius: 34px;
  //}
}

//.header::before {
//  position: absolute;
//  content: '';
//  z-index: -1;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background: linear-gradient(180deg, #020a11 0%, rgba(5, 12, 19, 0) 100%);
//  //height: 346px;
//  pointer-events: none;
//}
