.fancybox__content {
  padding: 0;
  background-color: transparent;
}

.f-button {
  svg {
    width: 0;
    height: 0;
  }
}
.fancybox__backdrop {
  background: rgba(0, 0, 0, 0.65) !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.is-close-btn {
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: absolute !important;
  width: 30px !important;
  height: 30px !important;
  top: -15px !important;
  right: 28px !important;
  background: url('../images/fansy/close.svg') no-repeat center/contain !important;

  @media #{$tablet} {
    top: 15px !important;
    right: 18px !important;
    background: url('../images/fansy/close02.svg') no-repeat center/contain !important;
  }

}

.is-close-btn:hover {
  background: url('../images/fansy/close02.svg') no-repeat center/contain !important;

  @media #{$tablet} {
    width: 25px !important;
    height: 25px !important;
    background: url('../images/fansy/close03.svg') no-repeat center/contain !important;
  }
}

.modal {
  @media #{$tablet} {
    max-width: 764px;
    width: 100%;
  }


  .modal__container {
    width: 100%;
    height: 100%;

    @media #{$tablet} {
      max-width: 764px;
      width: 100%;
    }

    .modal__form {
      display: flex;
      position: relative;
      padding: 27px 211px 66px 48px;
      z-index: 10;
      max-width: 764px;
      width: 100%;
      border-radius: 34px;
      background-color: rgba(5, 8, 14, 0.6);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);

      @media #{$tablet} {
        width: 100%;
        padding: 27px 48px 66px 48px;
      }

      form {
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: column;
        border-radius: 40px;

        @media #{$tablet} {
          width: 100%;
        }

        label {
          max-width: 440px;
          color: $color-granat-title;
          font-family: $font-family-base;
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 15px;
        }

        span {
          max-width: 440px;
          padding: 0;
          margin: 0;
          color: #9ba4a8;
          font-family: $font-family-title;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 16px;
          margin-bottom: 15px;
        }

        input {
          padding: 16px 21px 16px;
          margin-bottom: 10px;
          background: transparent;
          outline: none;
          border: none;
          font-family: $font-family-base;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: #ffffff;
          width: 505px;
          // width: 100%;
          border-radius: 23.5px;
          border: 1px solid rgba(65, 68, 79, 0.2);
          background: rgba(27, 29, 32, 0.6);

          @media #{$tablet} {
            width: auto;
          }
        }

        input:last-of-type {
          margin-bottom: 21px;
        }

        ::placeholder {
          color: #fff;
          font-family: $font-family-base;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .sub__cont {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          max-width: 440px;

          @media #{$phone} {
            align-items: center;
          }

          .link-warning {
            color: #363d41;
            font-family: $font-family-title;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px; /* 107.143% */
            margin-bottom: 10px;
          }

          .modal__btn-sub {
            position: relative;
            width: 200px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 14px;

            @media #{$phone} {
              margin-right: 0;
            }
          }
        }
      }

      .modal__form-img {
        position: absolute;
        top: -30px;
        right: 13px;
        border-radius: 35px;
        width: 252px;
        height: 397px;
        background: url('../images/fansy/01.svg');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 70;
        transform: scale(-1, 1);
        pointer-events: none;

        @media #{$tablet} {
          display: none;
        }
      }
    }
  }
}

.modal2 {
  max-width: 764px;
  width: 100%;
  height: 404px;

  .modal__container {
    //border: 1px solid #fff; // после верстки удалить
    max-width: 764px;
    height: 404px;

    .modal__text {
      padding: 110px 0 188px 0;
      text-align: center;
      width: 100%;
      height: 100%;
      border-radius: 34px;
       background: rgba(5, 8, 14, 0.6);
      //background-color: #fff;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);

      h2 {
        color: #f60030;
        text-align: center;
        font-family: $font-family-base;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0;
      }

      p:first-of-type {
        color: #902130;
        text-align: center;
        font-family: $font-family-title;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }

      p:last-of-type {
        color: #9ba4a8;
        text-align: center;
        font-family: $font-family-title;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
    }
  }
}

.modal2.fancybox__content{
  .f-button.is-close-btn {
    top: 15px !important;
    right: 15px !important;
    background: url('../images/fansy/close02.svg') no-repeat center/contain !important;
  }

  .f-button.is-close-btn:hover {
    background: url('../images/fansy/close03.svg') no-repeat center/contain !important;
  }
}

